1. Q1. Create one variable containing following type of data:

In [ ]:
# One variable for each data type
var_string = "Hello, World!"      # String
var_list = [1, 2, 3, "AI"]        # List
var_float = 3.14                  # Float
var_tuple = (10, 20, "Python")    # Tuple

2. Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [1]:
var1 = ' '                       # String
var2 = '[ DS , ML , Python]'     # String (it's a string with list-like content)
var3 = ['DS', 'ML', 'Python']    # List
var4 = 1.                        # Float

3. Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
a = 10
b = 3

print(a / b)   # Division → 3.333...
print(a % b)   # Modulus → 1 (remainder)
print(a // b)  # Floor Division → 3
print(a ** b)  # Exponentiation → 1000

4. Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [2]:
mixed_list = [1, "Python", 3.14, True, None, [1,2], (5,6), {'a': 1}, {1,2}, b'bytes']

for item in mixed_list:
    print(item, "->", type(item))

1 -> <class 'int'>
Python -> <class 'str'>
3.14 -> <class 'float'>
True -> <class 'bool'>
None -> <class 'NoneType'>
[1, 2] -> <class 'list'>
(5, 6) -> <class 'tuple'>
{'a': 1} -> <class 'dict'>
{1, 2} -> <class 'set'>
b'bytes' -> <class 'bytes'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
A = 24
B = 4
count = 0

if B == 0:
    print("Division by zero is not allowed.")
else:
    temp = A
    while temp % B == 0:
        temp = temp // B
        count += 1

    if count > 0:
        print(f"{A} is divisible by {B} for {count} times.")
    else:
        print(f"{A} is not divisible by {B}.")

24 is divisible by 4 for 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
int_list = list(range(1, 26))  # List from 1 to 25

for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

ans. Mutable: Can be changed after creation.

Immutable: Cannot be changed after creation.

Examples:

In [ ]:
# Mutable Example - List
my_list = [1, 2, 3]
my_list[0] = 100  # Changes the first element
print(my_list)    # Output: [100, 2, 3]

# Immutable Example - String
my_str = "Hello"
# my_str[0] = 'h'  # This will cause an error (strings are immutable)
my_str = "hello"   # You can only reassign, not modify in-place
print(my_str)