Q1. What is a database? Differentiate between SQL and NoSQL databases.

ans. A database is an organized collection of structured or unstructured data that is stored electronically and can be accessed, managed, and updated efficiently. Databases are used to store information for various applications, such as websites, software, and enterprise systems.

Key Theoretical Differences:
Data Structure:

SQL uses a relational model with tables.

NoSQL uses non-relational models like documents or key-value pairs.

Schema:

SQL has a fixed schema.

NoSQL has a dynamic schema, allowing more flexibility.

Scalability:

SQL is vertically scalable (requires more powerful hardware).

NoSQL is horizontally scalable (can use many servers).

Transactions:

SQL follows ACID properties for strict data integrity.

NoSQL often follows BASE, favoring speed and availability.

Use Cases:

SQL is best for applications requiring complex queries and consistent data.

NoSQL is suitable for handling large volumes of varied data types, often in real-time.

Key Theoretical Differences:
Data Structure:

SQL uses a relational model with tables.

NoSQL uses non-relational models like documents or key-value pairs.

Schema:

SQL has a fixed schema.

NoSQL has a dynamic schema, allowing more flexibility.

Scalability:

SQL is vertically scalable (requires more powerful hardware).

NoSQL is horizontally scalable (can use many servers).

Transactions:

SQL follows ACID properties for strict data integrity.

NoSQL often follows BASE, favoring speed and availability.

Use Cases:

SQL is best for applications requiring complex queries and consistent data.

NoSQL is suitable for handling large volumes of varied data types, often in real-time.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example?

ans. DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used to define and manage the structure of database objects such as tables, schemas, indexes, and views. It deals with the creation, alteration, and deletion of these structures, but not the data within them.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of database objects such as tables, schemas, views, and indexes. It deals with the creation, modification, and deletion of these structures.

1. CREATE – Used to create a new database object like a table.
   Example:
   CREATE TABLE Students (
       ID INT,
       Name VARCHAR(50),
       Age INT
   );

2. DROP – Used to delete an existing database object permanently.
   Example:
   DROP TABLE Students;

3. ALTER – Used to modify the structure of an existing object.
   Example:
   ALTER TABLE Students ADD Email VARCHAR(100);

4. TRUNCATE – Used to delete all data from a table without removing its structure.
   Example:
   TRUNCATE TABLE Students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ans. Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used to manage and manipulate data within database tables. It allows users to add, modify, and remove data without altering the structure of the table.

1. INSERT – Used to add new records into a table.
   Example:
   INSERT INTO Students (ID, Name, Age)
   VALUES (1, 'Alice', 18);

2. UPDATE – Used to modify existing data in a table.
   Example:
   UPDATE Students
   SET Age = 19
   WHERE ID = 1;

3. DELETE – Used to remove one or more records from a table.
   Example:
   DELETE FROM Students
   WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.


ans. Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to fetch or retrieve data from a database. It allows users to query data from one or more tables using the SELECT statement.

SELECT – It is used to retrieve specific data from one or more tables in a database.

Example:
SELECT Name, Age FROM Students WHERE Age > 18;

This query retrieves the Name and Age of students whose age is greater than 18 from the "Students" table.

Summary:
- DQL is mainly used for data retrieval.
- SELECT is the primary DQL command used to query data.

Q5. Explain Primary Key and Foreign Key.

ans.

Primary Key:
A primary key is a column (or a combination of columns) in a table that uniquely identifies each row in that table. It must contain unique values and cannot contain NULLs.

Example:
CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT
);

In this example, StudentID is the primary key and ensures each student has a unique ID.

Foreign Key:
A foreign key is a column in one table that refers to the primary key in another table. It is used to establish a relationship between two tables.

Example:
CREATE TABLE Enrollments (
    EnrollmentID INT,
    StudentID INT,
    CourseName VARCHAR(100),
    FOREIGN KEY (StudentID) REFERENCES Students(StudentID)
);

In this example, StudentID in the Enrollments table is a foreign key that refers to StudentID in the Students table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [4]:
# Step 1: Install mysql-connector-python
!pip install mysql-connector-python

# Step 2: Import and connect to MySQL
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",        # Change if your MySQL is on a different host
        user="your_username",    # Replace with your MySQL username
        password="your_password",# Replace with your MySQL password
        database="your_database" # Replace with your database name
    )

    cursor = conn.cursor()
    cursor.execute("SHOW TABLES;")
    print("Tables in the database:")
    for table in cursor.fetchall():
        print(table)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if 'cursor' in locals():
        cursor.close()
    if 'conn' in locals() and conn.is_connected():
        conn.close()

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 49.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0
Error: 2003: Can't connect to MySQL server on 'localhost:3306' (Errno 111: Connection refused)

Q7. Give the order of execution of SQL clauses in an SQL query.

In [6]:
# Q7. Order of execution of SQL clauses in an SQL query

# Although SQL queries are written like this:
# SELECT ...
# FROM ...
# WHERE ...
# GROUP BY ...
# HAVING ...
# ORDER BY ...

# The actual order of execution is:
# 1. FROM      - Tables are joined and data source is identified
# 2. WHERE     - Rows are filtered based on conditions
# 3. GROUP BY  - Rows are grouped based on columns
# 4. HAVING   - Groups are filtered based on conditions
# 5. SELECT    - Columns or expressions are selected and computed
# 6. ORDER BY  - Result set is sorted
# 7. LIMIT/OFFSET - Limits number of rows returned or skips rows