Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
my_list = [1, 2, 3, 5, 7, 11, 13, 17, 19, 23]
series_from_list = pd.Series(my_list)
print(series_from_list)

0     1
1     2
2     3
3     5
4     7
5    11
6    13
7    17
8    19
9    23
dtype: int64

q3. Create a Pandas DataFrame that contains the following data:

Name     Age     City
Alice    25      New York
Bob      30      London
Charlie  22      Paris

In [4]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'London', 'Paris']
}
df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in Pandas is a 2-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a table in a database or an Excel spreadsheet.

A Series, on the other hand, is a 1-dimensional labeled array capable of holding any data type.

 Key Difference:
Series → 1D (like a single column)

DataFrame → 2D (like a table with multiple columns)

In [5]:
import pandas as pd

# Creating a Series
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print("Series:")
print(s)

# Creating a DataFrame
data = {'Marks': [10, 20, 30], 'Subjects': ['Math', 'Science', 'English']}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
print("\nDataFrame:")
print(df)

Series:
a    10
b    20
c    30
dtype: int64

DataFrame:
   Marks Subjects
a     10     Math
b     20  Science
c     30  English

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

ans.
 Common Pandas DataFrame Functions:
head(), tail() – View top/bottom rows

info() – Summary of DataFrame

describe() – Statistical summary

drop() – Remove rows/columns

fillna() – Fill missing values

groupby() – Group and aggregate data

sort_values() – Sort by column

merge() / join() – Combine DataFrames

loc[], iloc[] – Access specific rows/columns

In [6]:
data = {
    'Store': ['A', 'B', 'A', 'B', 'A'],
    'Sales': [100, 200, 150, 250, 300]
}
df = pd.DataFrame(data)

# Calculate total sales per store
total_sales = df.groupby('Store')['Sales'].sum()
print(total_sales)

Store
A    550
B    450
Name: Sales, dtype: int64

que6. Which of the following is mutable in nature: Series, DataFrame, Panel?

ans.
 All three – Series, DataFrame, and Panel – are mutable in nature.

However, note that Panel has been deprecated since Pandas 1.0, and usage of multi-indexed DataFrames is now recommended instead.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
import pandas as pd

# Create multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
marks = pd.Series([85, 90, 95])
grades = pd.Series(['B', 'A', 'A+'])

# Combine into a DataFrame
df = pd.DataFrame({
    'Name': names,
    'Marks': marks,
    'Grade': grades
})

print(df)

      Name  Marks Grade
0    Alice     85     B
1      Bob     90     A
2  Charlie     95    A+